body {
  font-family: "Arial", sans-serif;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  background: white;
  width: 90%;
  max-width: 600px;
  padding: 25px 45px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 80vh;
}

.banner {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h3 {
  color: #333;
  margin: 15px 0;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-field {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  background-color: #a00;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #800;
}

.download-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.download-btn {
  background-color: #a00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #800;
}
